body {
    background-color: black;
}

.MasonsPortfolio {
    background-color: #929292;
    width: 50vw;
    height: 70vh;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10px;
}

.myImage {
    margin-top: 15%;
    margin-left: 10%;
    width: 25%;
}

.contactInfo {
    margin-left: 60%;
    margin-top: -30%;
}

.Experience, .Certifications, .Aboutme {
    background-color: #929292;
    width: 50vw;
    height: 70vh;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10px;
    display: none;
}
.Navbar {
    width: 100%;
    background-color: #545454;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Navbar > h2 {
    display: inline-block;
    margin: 0 10px;
    margin-left: 10%;
    color: rgb(211, 207, 207);
    transition: color 0.3s ease;
}
.Navbar > h2:hover {
    cursor: pointer;
    color: rgb(100, 100, 222);
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13%;
}

.Navbar > .home {
    text-decoration: underline;
    color: rgb(100, 100, 222);
}

#main {
    margin-left: 10%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 40%;
    border: white solid 5px;
    border-radius: 25px;
    padding: 10px;
}

input, select, button {
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    color: black;
}

#main > h1 {
    margin-bottom: 0px;
    font-size:150%;
    margin-top: 0px;
    text-align: center;
}

.certList {
    margin-top: 15%;
    text-align: center;
}

.title, .contactInfo, .certs, .certs2, .certList {
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

.untity {
    width: 30%;
    margin-left: 5%;
}
.certs {
    margin-left: 18%;
}
.certs2 {
    margin-left: 65%;
    margin-top: -10%;
}

.htmlcss {
    width: 40%;
    margin-left: 55%;
    margin-top: -50%;
    margin-bottom: 5%;
}

.about {
    margin-top: 15%;
    text-indent: 40px;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

.comedy {
    width: 25%;
    margin-left: 15%;
}
.tennis {
    width: 25%;
    margin-left: 15%;
}

.container {
    margin-left: 57%;
    margin-top: -31%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 40%;
    border: white solid 5px;
    border-radius: 25px;
    padding: 10px;
}